<h1>Welcome to My Portfolio</h1>
<p>This is a display of my work that I have completed, as well as a few current projectss.</p>

<%= link_to 'About Me', about_path %>
<%= link_to 'My Work', my_work_path %>
<%= link_to 'Contact Me', contact_path %>